<div class="trip_container">
    <h3><%= link_to @trip.name, user_trip_path(@trip.user, @trip) %></h3>
    <p>
    From: <%= @trip.start_date.strftime("%m/%d/%Y")%> 
    <br>
    To: <%= @trip.end_date.strftime("%m/%d/%Y")%>
    <br>
    Location: <%= @trip.city.name %>
    <br>
    Jetsetter: <%= link_to @trip.user.username, user_trips_path(@trip.user) %>
    <br>
    </p>

    <br>
    <% @trip.activities.each do |act|%>
        <%= act.name%>
        <br>
        <%= act.description%>
    <%end%>

    <br>

    <% if logged_in? %>

        <% if @trip.user == current_user%>
            <%= link_to "Edit Trip", edit_user_trip_path(@trip.user, @trip.id), class: "link_to_button"%>
        <% elsif current_user.have_favorite?(@trip)%>
            <%= button_to "Remove From Favorites", user_trip_favorite_trip_path(current_user.id, @trip.id, current_user.favorite_found(@trip).id), class: "submit_button", method: :delete%>
        <%else%>
            <%= button_to "Save To Favorites", user_trip_favorite_trips_path(current_user.id, @trip.id), class: "submit_button", method: :post %>
        <%end%>
    <%else%>
        <%= button_to "Save To Favorites", log_in_path, class: "submit_button", method: :get %>

    <%end%>
</div>

