<%= form_for :trip do |f|%>

    <%=f.label :trip_name %>
    <%=f.text_field :name %>
    <br>
    <%= f.hidden_field :user_id %>
    <br>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
    <br>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
    
    <p>

    <%= f.fields_for :city do |c| %>
        <%= c.label :country_name %>
        <%= c.collection_select :city_country, Country.order(:name), :id, :name %>
        <br>
        <%= c.label :city_name %>
        <%= c.text_field :city_name %>
    <% end %>
    </p>

    <p>
    <%= f.fields_for :activities do |activity| %>
        <%= activity.label :name %>
        <%= activity.text_field :name %>
        <br>
        <%= activity.label :description %>
        <%= activity.text_area :name %>

    <%end%>
    </p>


    <%= f.submit "Add Trip" %>
<%end%>
