
<% if logged_in? && params[:user_id] %>
    <h1><%= current_user.username%>'s Trips</h1>
    <%= link_to 'Create New Trip', new_trip_path %>
    <%= link_to 'View Favorite Trips', user_favorite_trips_path(current_user) %>
<% else%>
    <h1>Trips Worldwide</h1>
<%end%>
<br>
<% @trips.each do |trip|%>
    <div class="trip_container">
    <%= trip.name %>
    <br>
    From <%= trip.start_date%> To <%= trip.end_date%>
    <br>
    Location: <%= trip.city %>
    <br>
    Jetsetter: <%= trip.user.username %>
    <br>
    list of activities here
    </div>
<%end%>