<h2> Jetsetter Log In </h2>
<%= form_for :user do |f|%>
    <p><%= f.label :email %>
    <%= f.text_field :email %></p>

    <p><%= f.label :password %>
    <%= f.text_field :password %></p>

    <%= f.submit "Log In" %>

<%end%>

<br>
<h3> -OR- </h3>
<%= link_to('Log in with Google', '/auth/google_oauth2')%>